* {
  margin: 0;
  padding: 0;

  /* Texto */

  text-shadow: 2.5px 2.5px 2.5px rgb(0, 0, 0);
  color: rgb(100, 215, 105);
  font-size: 22px;
  padding: 6px;
  text-align:center;


  
}
.mainBackground{
/* Background */
display: block;
background-image: url("../images/background.jpg");
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
width: 100%;
}

/* NavMenu */
.navMenu{
display: flex;
justify-content: space-between;
align-items: center;
}
.navMenu ul li{
list-style: none;
display: inline;

}
.navMenu ul li a{
text-decoration: none;
color: rgb(100, 215, 105);
font-size: 29px;
padding: 10px;
}
.navMenu ul li a:hover{
color: green;
transition: 0.5s;
}
/* Links */
a:hover{
color: green;
transition: 0.05s;
}

a:link {
color: green; 
background-color: transparent;
text-decoration: none;
}

a:active{
color: yellow;
background
}

#imageLogo{
max-width: 60px;
opacity: 0.6;
margin-top: 6px;
margin-left: 10px;
}
#imageLogo:hover{
opacity: 1;
transform:scale(1.075, 1.075);
transition: 0.75s;
}


/* h1 INDEX */
#tituleIndex{
font-size: 40pt;
color: rgb(101, 216, 107);
text-align: center;
margin-top: 12%;
}

#tituleJogos{
font-size: 29pt;
color: rgb(101, 216, 107);
text-align: center;
margin-top: 12%;
}


#tituloQuemSouEu{
font-size: 31.5pt;
color: rgb(101, 216, 107);
text-align: center;
}


#foto1{
  border-radius: 50%;
}

div.box{
width: 350px;
display: inline-block;
}